{:deps   true
 :builds {:test {:target   :browser-test
                 :test-dir "resources/js/test"
                 :devtools {:http-port 8021
                            :http-root "resources/js/test"}}}}
